<style>
.btn{
width:120;
height:30;
margin:20;
border:1px;
border-radius:30px;
background:blue;
color:white;
}
.btn:hover{
background:red;
}
.btn:active{
background:green;
}


</style>
<div>
<input type="text" value="https://www.pointsprizes.com/blg/23521621/681/a-huge-list-of-best-sims-4-mods-in-2019" id="myInput">

<!-- The button used to copy the text -->
<button class="btn btn1" style="border-color:blue;" onclick="myFunction()">Copy link</button>
<a href="https://www.pointsprizes.com/blg/23521621/681/a-huge-list-of-best-sims-4-mods-in-2019" target="_blank" ><button class="btn btn1" style="border-color:blue;" >Open link</button></a>
</div>
<div>
<input type="text" value="https://addons.mozilla.org/en-US/firefox/addon/buster-captcha-solver/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=search" id="myInput1">

<!-- The button used to copy the text -->
<button class="btn btn2" style="border-color:blue;" onclick="myFunction1()">Copy addons link</button>
<a href="https://addons.mozilla.org/en-US/firefox/addon/buster-captcha-solver/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=search" target="_blank"><button class="btn btn2" style="border-color:blue;" >Open addons link</button>
</div>
<script>
  function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  
  
  document.execCommand("copy");

}
  function myFunction1() {
  /* Get the text field */
  var copyText = document.getElementById("myInput1");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");
  }
</script>